html{
    background-color: rgb(230 235 241);
}
.header{
  width: 100%;
  height: 100px;
  background-color: rgb(116 167 160);
}
.iconLogo{
  width: 200px;
  margin-top: 10px;
	float: left;
}

.menuHeader {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
  }
  
  ul, ol {
    list-style:none;
  }
  
  .nav > li {
    float:left;
    margin-top: 25px;
  }
  
  .nav li a {
    background-color:#3b3bbd;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
  }
  
  .nav li a:hover {
    background-color:#f4e803;
    color: black;
  }
  
  .nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
  }
  
  .nav li:hover > ul {
    display:block;
  }

.iconUser{
  width: 70px;
  margin-top: 10px;
  float: right;
}
.lateral1{
  width: 15%;
  height: 400px;
  border: 1px solid rgb(116 167 160);
  float: left;
}
.lateral2{
  width: 14%;
  height: 400px;
  border: 1px solid rgb(116 167 160);
  float: right;
}
.listaProductos{
  width: 68%;
  height: auto;
  float: left;
  margin-left:1%;
  margin-right:1%;
}
.sub_menu{
  width: 19%;
  height: 350px;
  float: left;
  background: rgb(116 167 160);
  padding-left: 0%;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0%;
}
.imagenProducto{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  height: 40%;
}